<footer id="footer" class="midnight-blue">
        <div class="container">
            <!-- <div class="row">
                <div class="col-sm-6 pull-right">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Il progetto</a></li>
						<li><a href="{% url 'inserimento' %}">Inserisci una segnalazione</a></li>
                        <li><a href="{% url 'segnalazioni' %}">Elenco segnalazioni</a></li>
                    </ul>
                </div>
            </div> -->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 credits">
                    Desing and developement by <a href="https://it.linkedin.com/pub/maurizio-latini/15/500/796" target="_blank">Maurizio Latini</a> with <i class="fa fa-heart"></i> for Montespertoli
                </div>
            </div>
        </div>
</footer><!--/#footer-->