{% extends "base_new.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class='row'>
<!-- 	<div class ="col-xs-6">
	<form method="post" action=".">
		  {% csrf_token %}
			<div class="form-group">
				 <label class="control-label">Username</label>
				 <div class="controls ">
				 	<input type="text" class="textinput textInput form-control" value="{{request.user.username}}" readonly>  
				 </div>
			</div>
			<div class="form-group">
				 <label class="control-label">Nome</label>
				 <div class="controls ">
				 	<input type="text" class="textinput textInput form-control" value="{{request.user.first_name}}">  
				 </div>
			</div>
			<div class="form-group">
				 <label class="control-label">Cognome</label>
				 <div class="controls ">
				 	<input type="text" class="textinput textInput form-control" value="{{request.user.last_name}}">  
				 </div>
			</div>
			<div class="form-group">
				 <label class="control-label">Membro dal</label>
				 <div class="controls ">
				 	<input type="text" class="textinput textInput form-control" value="{{request.user.date_joined}}" readonly>  
				 </div>
			</div>
			<div class="form-group">
				 <label class="control-label">Ultimo accesso</label>
				 <div class="controls ">
				 	<input type="text" class="textinput textInput form-control" value="{{request.user.last_login}}" readonly>  
				 </div>
			</div>
			<input type="submit" value="Aggiorna i tuoi dati" />
		</form>
	</div> -->
	<div class='col-sm-6 col-sm-offset-3'>
	<form method="post" action=".">
	  {% csrf_token %}
	  {{ form|crispy }}

	  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Cambia Password' %}" />
	</form>
	</div>
</div>

{% endblock %}